/* RESET */


#telkom-nav .navbar {
  background: transparent !important;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 38px;
}

.red-line {
  width: 55px;
  height: 3px;
  background: #FF0000;
  margin: auto;
}

.text-main {
  color: #FF0000 !important;
}

.card {
  border: none !important;
}


/* NAVBAR */
.nav-item a {
  font-size: 20px;
}
.nav-item.active a {
  color: #FF0000 !important;
}

/* KEMENTRIAN PAGE */
#header-kementrian {
  background-image: url(assets/images/kementrian-header.png) !important;
  height: 530px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}