<div style="background: black;" class="py-5">
  <div class="container">
    <div class="row text-white align-items-start">
      <div class="col-xs-12 col-sm-12 col-md-5 py-3">
        <h2>BEM TELKOM UNIVERSITY</h2>
        <p class="font-weight-light" style="font-size: 15px;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, natus! Assumenda, vitae doloremque. Asperiores numquam, laborum voluptates quos nam
        </p>
        <h6>Copyright &copy; 2020 - BEM KEMA TEL-U</h6>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2 py-3">
        <h6 class="text-main">
          INFORMASI
        </h6>
        <div class="py-2">
          <a href="#" class="text-white">Kementrian</a>
        </div>
        <div class="py-2">
          <a href="#" class="text-white">Acara</a>
        </div>
        <div class="py-2">
          <a href="#" class="text-white">Karya Mahasiswa</a>
        </div>
        <div class="py-2">
          <a href="#" class="text-white">UKM</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 py-3 align-self-start">
        <h6 class="text-main">
          HUBUNGI KAMI
        </h6>
        <div class="py-2">
          <a href="#" class="text-white">Concact Person</a>
        </div>
        <div class="py-2">
          <a href="#" class="text-white">Aspirasi</a>
        </div>
        <div class="py-2">
          <a href="#" class="text-white">Pemberdayaan Perempuan</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2">
        <div class="d-flex flex-wrap align-items-center">
          <img src="../assets/images/logo-tel.png" alt="..." width="80" height="80">
          <img src="../assets/images/logo-kabinet.png" alt="..." width="80" height="60">
        </div>
      </div>

    </div>
  </div>
</div>